<html>

    <body>
        <h1>My Form</h1>
        <form method="post" action="/form-process">
            <table>
                    <tr>
                        <td>Number 1</td>
                        <td><input type="text" name="txt1" placeholder="Enter Name" required></td>
                    </tr>
                    </br>

                    <tr>
                        <td>Number 2</td>
                        <td><input type="text" name="txt2" placeholder="Enter contact" required></td>
                    </tr>
                     
                    <tr>
                        <td><input type="submit"></td>
                    </tr>
            </table>


        </form>
    </body>
</html>